
      <aside class="col right" id="right-col">
        <div class="pane hidden" id="right-over">
          <div class="block-right">
	  <p>		  {{ debug.Dump .Site.Taxonomies }}</p>
            <b>SKUT</b> is een digitaal platform voor literatuur, kritiek en dialoog, dat middels brieven, essays, verhalend proza en poëzie het engagement opzoekt.
          </div>
          <div class="block-right">
            <b>Redactie</b>
            <p>Yi Fong Au<br>Pablo Kattenberg<br>Lies Kelder<br>Leon Kleinveld<br>Youna Mulock Houwer<br>Benjamin Schoonenberg</p>
            <b>Contact &amp; kopij</b>
            <p>Berichten en kopij: <a class="link" href="mailto:redactie@tijdschriftskut.nl">redactie@tijdschriftskut.nl</a></p>
            <p>Je kunt ons ook vinden op <a class="link" href="#">Instagram</a></p>
            <b>Nieuwsbrief</b>
            <p>Wij sturen een regelmatige nieuwsbrief over <b>SKUT</b>.</p>
            <form><input type="email" placeholder="e-mail adres" /> <a class="link" href="#">aanmelden</a></form>
          </div>
        </div>

        <div class="pane" id="right-steun">
          <div class="block-right">
            Wilt u ons ondersteunen of heeft u hier vragen over?
            Stuur een e-mail naar: stichting@tijdschriftskut.nl

            IBAN-rekeningnummer: NL16 RABO 0318 8988 10
            BIC: RABONL2U
                        </div>
                        <div class="block-right">
            <h3>Missie, doelstellingen en activiteiten</h3>
            Wat is een leefbare en levendige literaire cultuur? En hoe dragen wij hieraan bij? <br>
            <br>
            Dit zijn grote vragen inderdaad, waar het laatste woord nog lang niet over gezegd is, maar wij hebben alvast drie doelstellingen geformuleerd binnen het kader van het (digitale) literaire tijdschrift:
            <br><br>
            het brengen van experimentele vernieuwing in de Nederlandstalige literaire cultuur;<br>
            het aanwakkeren van een geëngageerde houding van de literaire cultuur tegenover de bredere en werkelijke samenleving waarin zij actief is;<br>
            de activering van ontwikkelend talent en ongevestigde schrijvers; het streven naar een toegankelijke schrijfcultuur waarin participatie centraal staat.<br>
            Dit kunnen wij natuurlijk niet alleen. Goed literair werk, zoals de term doet vermoeden, is werk. Het moet geschreven worden (met veel dank aan al onze imponerende auteurs), en het moet gelezen worden. Daar komt u om de hoek kijken. Zonder de lezer zouden wij deze prachtige experimenten het zwarte gat van het internet insturen, zonder deze ooit weer terug te zien.
            <br><br>
            <b>SKUT</b> is sinds 2015 actief als online/digitaal literair tijdschrift met enkele publicaties per maand.
            <br><br>
            De gehele organisatie drijft momenteel op de kracht van vrijwilligers. De verschillende functies binnen het tijdschrift worden uitgevoerd door een groep redacteur-directeuren als vrijwilligers. SKUT ontvangt donatiegelden van donateurs en krijgt voor de periode 2024-2026 een bijdrage van het Cultuurfonds voor het project Utopia Marginalia.
            <br><br>
                            <h3>Bijdragen en belastingvoordeel</h3>
            Wilt u niet alleen bijdragen door SKUT te lezen, maar ook via een gift? Dat kan!
            <br><br>
            Uw bijdrage komt ten goede aan SKUT en de gehele sfeer van het Nederlandse literaire tijdschrift. Deze bijdrage zorgt ervoor dat talentvolle schrijvers een vergoeding kunnen ontvangen voor hun werk binnen een niet-commerciële ruimte, en zich daarin kunnen ontwikkelen.
            <br><br>
            Stichting SKUT, als de stichting die tijdschrift SKUT mogelijk maakt, heeft een culturele ANBI-status. Dit betekent dat de stichting als goed doel is vrijgesteld van betaling van schenk- en erfbelasting. U kunt de stichting steunen middels kleinere of grotere schenkingen, legaten en nalatenschappen. Alles over de geefwet staat hier op de website van de belastingdienst.
            <br><br>
            Voor meer informatie staan we U graag ter woord via elektronische correspondentie: stichting@tijdschriftskut.nl
            <br><br>
            <h3>Verkort beleidsplan</h3>
            De eerste beleidsperiode van Stichting SKUT, 2024-2027,  staat in het teken van een professionaliseringsslag van het sinds 2015 bestaande tijdschrift SKUT. We werken aan de ontwikkeling van een professionele redactie en een grotere publicatie-activiteit, ondersteund door nieuwe processen zoals bestuurlijke besluitvorming en fondsenwerving. Inkomsten uit fondsenwerving en donaties zullen ons in staat stellen ambitieuzere projecten te financieren en meer aandacht te besteden aan redactioneel werk.
            <br><br>
            Het is belangrijk dat SKUT een maatschappelijk aanvaardbaar beloningsbeleid creëert voor de gewerkte uren van de redactie, zodat we van een onbetaalde vrijwilligersorganisatie naar een organisatie met enige vergoeding voor vrijwilligers kunnen groeien. Inhoudelijk zetten we de bestaande traditie van SKUT voort, en zoeken we naar mogelijkheden om het aantal publicaties gestaag te laten groeien.
            <br><br>
            De stichting beoogt daarbij niet het maken van winst, en ten minste 90% van de activiteiten wordt uitgevoerd in het kader van het algemeen-cultureel belang. Dit blijkt ook uit haar feitelijke omstandigheden: de stichting laat de opbrengsten van haar vermogen ten goede komen van de doelstellingen en een batig saldo moet worden besteed conform deze doelstellingen. Het vermogen wordt beheerd door een gezamenlijk bevoegd bestuur van ten minste drie leden.
            <br><br>
            Het volledige beleidsplan 2024-2027 kan hier bekeken worden.
            <br><br>
            <h3>Jaarverslagen</h3>
            Jaarrekening 2024
            <br><br>
            Jaarverslag 2024
            <br><br>
            <h3>Bestuursleden</h3>
            Dhr. Tommy van Avermaete (voorzitter)<br>
            Dhr. Tinne Zandstra (penningmeester)<br>
            Mevr. Sophie van den Bergh (secretaris)<br>
            Mevr. Nike van Helden (algemeen bestuurslid)<br>
            Dhr. Bram Ieven (algemeen bestuurslid)<br>
            <br>
            <h3>Redacteuren-directeuren</h3>
            Dhr. Yi Fong Au<br>
            Dhr. Leon Kleinveld<br>
            Dhr. Benjamin Schoonenberg<br>
            Dhr. Pablo Kattenberg<br>
            Mevr. Youna Mulock Houwer<br>
            Mevr. Lies Kelder<br>
            <br>
            ANBI-informatie<br>
            IBAN-rekeningnummer: NL16 RABO 0318 8988 10<br>
            BIC: RABONL2U<br>
            <br>
            Statutaire naam: Stichting SKUT<br>
            KvK-nummer: 93226233<br>
            RSIN: 866319049<br>
            E-mail: stichting@tijdschriftskut.nl<br>
            Postadres: op aanvraag beschikbaar<br>
            <br>
            Leden van het bestuur hebben geen recht op vacatiegeld ter zake van hun werkzaamheden voor de stichting noch hebben zij recht op een beloning voor andere werkzaamheden. Wel kunnen zij recht hebben op vergoeding van de door hen in uitoefening van hun functie (in redelijkheid) gemaakte kosten. De omschreven vergoedingen worden in de jaarrekening van de stichting zichtbaar gemaakt en nader toegelicht.
            <br>
            De directie ontvangt een vrijwilligersvergoeding.</div> </div></div>
                  </aside>
