<section class="col left" id="left-col">
        <div class="pane" id="left-reeksen">

          <div class="block-links">
          <a href="#">Over vertalen</a><br><br>
          <a href="#">VVV</a><br><br>
          <a href="#">Gevonden Poëzie</a><br><br>
          <a href="#">Praatziek</a><br><br>
          <a href="#">Stand van zaken</a><br><br>
          <a href="#">Cryptofylie</a><br><br>
          <a href="#">Letterlijk, natuurlijk</a><br><br>

        </div></div>

        <div class="pane" id="left-genres">

            <div class="block-links">
           
            <a href="#">Over herdenken</a><br><br>
            <a href="#">Praatziek</a><br><br>
        <a href="#">e-mail</a><br><br>
        <a href="#">Poëzie</a><br><br>
        <a href="#">Verhaal</a><br><br>
        <a href="#">Essay</a><br><br>
        <a href="#">Recensie</a><br>
    </div>

      </div>

      <!-- Auteurs -->

        <div class="pane hidden" id="left-auteurs">
          <article class="block-links">
            
            <a href="#">Obe Alkema</a><br><br>
            <a href="#">Justine Armand de Court</a><br><br>
            <a href="#">Yi Fong Au</a><br><br>
            <a href="#">Tommy van Avermaete</a><br><br>
            <a href="#">Ane Baztarrika</a><br><br>
<a href="#">Thomas Baaij</a><br><br>
<a href="#">Rob H. Bekker</a><br><br>
<a href="#">Niels Bierens</a><br><br>
<a href="#">Siebe Bluijs</a><br><br>
<a href="#">Paul Buckley</a><br><br>
<a href="#">Dries van Doorn</a><br><br>
<a href="#">Arjen Duinker</a><br><br>
<a href="#">Esther Edelmann</a><br><br>
<a href="#">Borus Fortuin</a><br><br>
<a href="#">Bart Gansedijk</a><br><br>
<a href="#">Sebastiaan Garretse</a><br><br>
<a href="#">Jessie de Geus</a><br><br>
<a href="#">Nils Geylen</a><br><br>
<a href="#">Marijke Gravemaker</a><br><br>
<a href="#">Jurgen Gravestein</a><br><br>
<a href="#">Karel Großstadt</a><br><br>
<a href="#">Esha Guy Hadjadj</a><br><br>
<a href="#">Kees ’t Hart</a><br><br>
<a href="#">Tamara Hartman</a><br><br>
<a href="#">Nike van Helden</a><br><br>
<a href="#">Anne van der Horst</a><br><br>
<a href="#">Bram Ieven</a><br><br>
<a href="#">Nele Janssens</a><br><br>
<a href="#">Pablo Kattenberg</a><br><br>
<a href="#">Frank Keizer</a><br><br>
<a href="#">Lies Kelder</a><br><br>
<a href="#">Renée van den Kerkhof</a><br><br>
<a href="#">Marilou Klapwijk</a><br><br>
<a href="#">Bas Kleijweg</a><br><br>
<a href="#">Leon Kleinveld</a><br><br>
<a href="#">Vera Koot</a><br><br>
<a href="#">Frans-Willem Korsten</a><br><br>
<a href="#">Marc Kregting</a><br><br>
<a href="#">Madelief Lammers</a><br><br>
<a href="#">Wim Lankriet</a><br><br>
<a href="#">Jelmer van Lenteren</a><br><br>
<a href="#">Abel Lingezoon</a><br><br>
<a href="#">Hubertus Mayr</a><br><br>
<a href="#">Lars Meijer</a><br><br>
<a href="#">Anja Meulenbelt</a><br><br>
<a href="#">Lian Moerenhout</a><br><br>
<a href="#">Anke van Oostveen</a><br><br>
<a href="#">Mark Opfer</a><br><br>
<a href="#">Marieke Ornelis</a><br><br>
<a href="#">Jan Mulock Houwer</a><br><br>
<a href="#">Youna Mulock Houwer</a><br><br>
<a href="#">Thalia Ostendorf</a><br><br>
<a href="#">Merel Oudshoorn</a><br><br>
<a href="#">Norbert Peeters</a><br><br>
<a href="#">Nele Peeters</a><br><br>
<a href="#">Sara Polak</a><br><br>
<a href="#">Rakshasa Rakshindra</a><br><br>
<a href="#">Andrew Ricca</a><br><br>
<a href="#">Aafke Romeijn</a><br><br>
<a href="#">Zadok Samson</a><br><br>
<a href="#">Sven Schaepkens</a><br><br>
<a href="#">Lieke Smits</a><br><br>
<a href="#">Jurjen Simmelink</a><br><br>
<a href="#">Ruud Smulders</a><br><br>
<a href="#">Rico Sneller</a><br><br>
<a href="#">Benjamin Schoonenberg</a><br><br>
<a href="#">Wijnand Steemers</a><br><br>
<a href="#">Willemijn Stokvis</a><br><br>
<a href="#">Nathan Trantaal</a><br><br>
<a href="#">Marwin Vos</a><br><br>
<a href="#">Jos Westerhuis</a><br><br>
<a href="#">Yael van der Wouden</a><br><br>
<a href="#">Tessa de Zeeuw</a><br><br>
<a href="#">Elise Zoetmulder</a><br><br>

          </article>
        </div>

        <!-- Zoeken -->

        <div class="pane" id="left-zoeken">

            <div class="block-links">
            <h3>Zoeken</h3><br>
            <form class="search-form" role="search" aria-label="Zoeken in artikelen" data-search-form>
              <label class="sr-only" for="pane-site-search">Zoeken</label>
          <div class="search-input-group">
            <input id="pane-site-search" name="q" type="search" placeholder="Zoek in SKUT" autocomplete="off" data-search-input data-search-source="pane" />
            <!-- <button type="submit" class="search-submit">Zoek</button> -->
          </div>
        </form>
      

        </div></div>

        <!-- Toegankelijkheid -->
        <div class="pane" id="left-aA">

            <div class="block-links">
            <h3>aA</h3><br>

            <div class="accessibility-controls" role="group" aria-label="Toegankelijkheidsopties">
              <div class="control-row">
                <span class="control-label">Contrast</span>
                <button type="button" class="control-button contrast-toggle" data-action="toggle-contrast" aria-pressed="false">
                  Donker thema
                </button>
              </div>
              <div class="control-row">
                <span class="control-label">Tekstgrootte</span>
                <div class="font-size-controls" role="group" aria-label="Tekstgrootte">
                  <button type="button" class="control-button font-decrease" data-action="font-decrease" aria-label="Verklein tekst">
                    A-
                  </button>
                  <button type="button" class="control-button font-reset" data-action="font-reset" aria-label="Herstel tekstgrootte">
                    A
                  </button>
                  <button type="button" class="control-button font-increase" data-action="font-increase" aria-label="Vergroot tekst">
                    A+
                  </button>
                </div>
              </div>
            </div>

        </div>

      </div>
      </section>
